# Frontend (React / Vite / Node.js)
node_modules/
dist/
coverage/
.env
.env.*

# Backend (Spring Boot / Maven)
backend/target/
*.class
*.log

# IDE / Editor
.idea/
.vscode/

# OS files
.DS_Store
backend/uploads/0b8ac75e-3456-4cb2-ac5d-eb3c93063b08_Screenshot (2).png
